{{#partial "contenido"}}
		
		<br/>
		<br/>
		<div class="container-fluid">
		
			<h4> Su consumo es </h4>
			<h2>{{consumo}} kWs </h2>
		</div>
		
			
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> 
		
		
{{/partial}}

{{>layout.hbs}}
		
	