<html>
	<head> 
		<meta charset="utf-8">
		<title> Consumo del periodo </title>
  		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="simplex.css">
	</head>
	
	<body>
		<header>
			<div class="container-fluid">
			Sesión iniciada como: {{cliente.usuario}}
		
			<button class="btn btn-sm btn-default">Cerrar Sesión</button>
			</div>
		</header>
		
		<br/>
		<br/>
		<div class="container-fluid">
		
			<h4> Su consumo es </h4>
			{{consumo}} 	
		</div>
		
			
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> 
		<div class="py-3">
    		<div class="container">
      			<div class="row">
        			<div class="col-md-12 text-center">
          				<p class="mb-0">© 2018 DDS, Inc</p>
        			</div>
	      		</div>
	    	</div>
  		</div>
	</body>
</html>