{{#partial "contenido"}}
		<br/>
		<br/>
		<div class="row">
			<div class="col-md-12 block-center">
				<tr> <h3> Consumo recomendado para sus dispositivos: </h3> </tr>
				<ul class="list-group">
					{{#each recomendaciones}}
					<div class="list-group-item">
						<tr>
							<h4> <td> {{ @key }} </td> </h4>
							<p> 
								<h6> Consumo optimo: {{ this }} horas<h6>
							</p>
						</tr>
					</div>
					{{/each}}
				</ul>
			</div>
		</div>
			
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> 
		
{{/partial}}

{{>layout.hbs}}
		
		