<html>
	<body>
		Sesión iniciada como: {{cliente.usuario}}
		
		<button type="button" >Cerrar Sesión</button>
		<h1>ANDUVO</h1>
	<table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Ultima medición</th>
              </tr>
            </thead>
            
            <tbody>
              
			{{#each dispositivos}}
				<tr>
					<td> {{ nombre }} </td>
					<td> {{ estado }} </td>
					<td> {{ ultimaMedicion }}</td>
				</tr>
			{{/each}}
			  
            </tbody>
          </table>
	</body>
</html>